<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>minioidc</title>
    <link rel="stylesheet" type="text/css" href="/static/styles2.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Your username" name="username" value="{{ .Username }}" />

        <label for="password">Password</label>
        <input type="password" placeholder="Your password" name="password" />

        <button>Log In</button>
        {{ if .InvalidLogin }}
        <p class="error">Invalid login</p>
        {{ end }}
        {{ if .UnknownError }}
        <p class="error">Error. Try it again later or contact the administrator.</p>
        {{ end }}
    </form>
</body>
</html>
