<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>minioidc</title>
    <link rel="stylesheet" type="text/css" href="/static/styles1.css">
</head>
<body>
    <form class="login" method="post">
        <p class="error">
            {{ if .InvalidLogin }}
            ⚠️ Invalid login
            {{ end }}
            {{ if .UnknownError }}
            ☢️ Error. Try it again later or contact the administrator.
            {{ end }}
        </p>
        <input name="username" type="text" placeholder="Username" value="{{ .Username }}" />
        <input name="password" type="password" placeholder="Password" />
        <button type="submit">Login</button>
      </form>
</body>
</html>
