{{define "content"}}
<form class="form" method="post">
    <p class="error">
        {{ if .InvalidVerificationCode }}
        ⚠️ Invalid verification code
        {{ end }}
        {{ if .UnknownError }}
        ☢️ Error. Try it again later or contact the administrator.
        {{ end }}
    </p>
    <div class="otp-wrapper">
        <input
            type="text"
            autocomplete="one-time-code"
            inputmode="numeric"
            maxlength="6"
            pattern="\d{6}"
            name="verification_code" />
        <button id="verify" type="submit">Verify</button>
    </div>
    <input type="hidden" name="__csrf" value="{{ .CSRF }}">
</form>
{{end}}